AUTH_DATABASE_URL=postgresql://echochat:echochat@localhost:5432/echochat_auth
CHAT_DATABASE_URL=postgresql://echochat:echochat@localhost:5432/echochat_chat
MESSAGE_DATABASE_URL=mongodb://echochat:echochat@localhost:27017/echochat_message
JWT_SECRET=
JWT_EXPIRATION=
REFRESH_TOKEN_TTL_DAYS=
REFRESH_TOKEN_ABSOLUTE_TTL_DAYS=
FRONTEND_URL=http://localhost:3000
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=avatars